# Ashtika's Notebook

My name is Ashtika Singh and I am a Computer Science Engineering student.

In [1]:
ds_languages=['Python', 'SQL', 'R', 'Scala', 'C++', 'Julia', 'Ruby']
ds_languages

['Python', 'SQL', 'R', 'Scala', 'C++', 'Julia', 'Ruby']

In [2]:
ds_libraries=['Numpy', 'Pandas', 'Matplotlib', 'Seaborn', 'Scikit-Learn', 'Tensorflow']
ds_libraries

['Numpy', 'Pandas', 'Matplotlib', 'Seaborn', 'Scikit-Learn', 'Tensorflow']

In [10]:
import pandas as pd
ds_tools=['Apache Spark', 'Weka', 'Hadoop', 'RapidMiner', 'Tableau', 'Power BI']
table=pd.DataFrame(ds_tools)
table.columns=['Tools']
table

          Tools
0  Apache Spark
1          Weka
2        Hadoop
3    RapidMiner
4       Tableau
5      Power BI

In [15]:
print(5+3-6)

2

In [13]:
a=6
b=4
print(a+b)
print(a*b)

10
24

In [14]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes120
Hours= 2
Minutes= 0

I want to do data science because I like to explore new things

I enjoyed know about these tools

Author Name: Ashtika Singh